.app-wrapper {
  background-color: #1a1a1a;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 5vh;
}

.app-content {
  width: 100%;
  max-width: 640px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #f77f00;
}
